<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emile's Ex.3</title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1><a href="/">Link to Start Page</a></h1>
<h2>Emile's Ex.3</h2>

<hr>

<h1>Article form</h1>

<form method="post" action="#" id="form">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
    </div>

    <div class="mt-4">
        <label for="content">Content:</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>

    <div class="mt-4">
        <button type="submit">Add</button>
    </div>
</form>

<div class="mt-4" id="result"></div>

<script src="/public/ex3.js"></script>
</body>
</html>
